certifi==2018.8.24	
chardez==3.0.4	
enum34==1.1.6	
idna==2.7	
pip==10.0.1	
pipenv==2018.7.1	
requests==2.19.1	
setuptools==39.1.0	
six==1.11.0	
urllib3==1.23	
virtualenv==16.0.0	
virtualenv-clone==0.3.0	
vk-api==11.0.0	